@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-size: 62.5%;
  }
  body {
    @apply w-screen min-h-screen bg-background text-white;
    font-size: 1.6rem;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
}

}